@font-face {
  font-display: fallback;
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Forum-Regular.woff2') format('woff2'),
       url('../fonts/Forum-Regular.woff') format('woff');
}

/* montserrat-300 - latin */
@font-face {
  font-display: fallback;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
       url('../fonts/Montserrat-Light.woff') format('woff');
}
/* montserrat-regular - latin */
@font-face {
  font-display: fallback;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
       url('../fonts/Montserrat-Regular.woff') format('woff');
}
/* montserrat-500 - latin */
@font-face {
  font-display: fallback;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
       url('../fonts/Montserrat-Medium.woff') format('woff');
}
/* montserrat-600 - latin */
@font-face {
  font-display: fallback;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
       url('../fonts/Montserrat-SemiBold.woff') format('woff');
}
/* montserrat-700 - latin */
@font-face {
  font-display: fallback;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
       url('../fonts/Montserrat-Bold.woff') format('woff');
}
/* montserrat-800 - latin */
@font-face {
  font-display: fallback;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
       url('../fonts/Montserrat-ExtraBold.woff') format('woff');
}
/* montserrat-900 - latin */
@font-face {
  font-display: fallback;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
       url('../fonts/Montserrat-Black.woff') format('woff');
}
